<%= form_for(difficulty_level) do |f| %>
  <% if difficulty_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(difficulty_level.errors.count, "error") %> prohibited this difficulty_level from being saved:</h2>

      <ul>
      <% difficulty_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
