<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @difficulty_level.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @difficulty_level.number %>
</p>

<p>
  <strong>Value:</strong>
  <%= @difficulty_level.value %>
</p>

<p>
  <strong>Code:</strong>
  <%= @difficulty_level.code %>
</p>

<%= link_to 'Edit', edit_difficulty_level_path(@difficulty_level) %> |
<%= link_to 'Back', difficulty_levels_path %>
