<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @standard.name %>
</p>

<p>
  <strong>Sequence number:</strong>
  <%= @standard.sequence_number %>
</p>

<p>
  <strong>Code:</strong>
  <%= @standard.code %>
</p>

<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', standards_path %>
